<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Errol Morris, Waffles, Drinking Vinegar</title>
		<link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script type="text/javascript" src="./javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="./javascripts/data.js"></script>
    <script type="text/javascript" src="./javascripts/app.js"></script>
  </head>
  <body>

    <div id="images">
      <div class="sprite erroll"></div>
      <div class="sprite jar"></div>
      <div class="sprite waffle"></div>
    </div>

    <div id="content">
			<a href="/emmm">
				<h1>
					Errol Morris
					<span class="bull">&bull;</span>
					Waffles
					<span class="bull">&bull;</span>
					Drinking Vinegars
				</h1>
			</a>
			<div id="screening-overview-wrapper">
			</div>
    </div>

    <script id="screening-overview-template" type="text/template">
			<a id="id-<%= screening.id %>" class="screening-overview" data-id="<%= screening.id %>"
					href="./?id=<%= screening.id %>">
				<div class="number-wrapper">
					<span><%= screening.id %></span>
				</div>
        <span class="movie"><%= screening.movie.title %></span>
        <br>
        <span class="waffle"><%= screening.waffle.name %></span>
        <br>
        <span class="drink"><%= screening.drink.name %></span>
      </a>
    </script>

    <script id="screening-detail-template" type="text/template">
      <div class="screening-detail" data-id="<%= screening.id %>">
        <h2 class="movie">
          <%= screening.movie.title %>
          <span class="header-detail"><%= screening.movie.year %></span>
        </h2>
        <p>about <%= screening.movie.subject %></p>
        <h2 class="waffle">
          <%= screening.waffle.name %>
          <span class="header-detail"><%= screening.waffle.country %></span>
        </h2>
        <p>with <%= screening.waffle.toppings %></p>
        <h2 class="drink"><%= screening.drink.name %></h2>
        <p>with <%= screening.drink.liquor %></p>
        <h2>Connection</h2>
        <p><%= screening.connection %></p>
        <a class="back" href="./">see all films</a>
      </div>
    </script>
  </body>
</html>
