@import bourbon/bourbon
@import reset
@import fonts

$black: #171717
$gray: #4d4d4d
$light-gray: #888
$teal: #b6e4d3
$bg: #c3c3c3

$info-bg: transparentize(#fff, 0.2)
$info-bg-hover: transparentize($teal, 0.2)

*
  @include box-sizing(border-box)

body
  background: $bg
  color: $black
  font-family: kn, impact, helvetica, arial, sans-serif

#images
  position: fixed
  z-index: 1
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0.8

  .sprite
    position: absolute
    bottom: 0
    display: block
    background: url(../images/sprite.png)

    &.erroll
      left: 0
      width: 500px
      height: 499px
      background-position: 0 0

    &.jar
      $width: 194px
      left: 51%
      margin:
        left: $width * -0.5
      width: $width
      height: 323px
      background-position: -502px -176px

    &.waffle
      right: 0
      width: 349px
      height: 447px
      background-position: -721px -49px

@mixin screening-background
  background: $info-bg
  border-radius: 5px

#content
  position: relative
  z-index: 2
  padding: 80px
  font-size: 20px
  color: $gray

  h1
    width: 100%
    text-align: center
    font-weight: bold
    font-size: 48px
    color: $black

    .bull
      padding: 0 10px

  h2
    font-size: 40px
    color: $black

  .waffle,
  .drink
    text-transform: capitalize

  $padding: 24px
  #screening-overview-wrapper
    display: none
    width: 100%
    margin-top: 80px - $padding

    $number-width: 80px
    .screening-overview
      position: relative
      float: left
      margin: $padding
      padding: $padding
        bottom: $padding - 3
        left: $number-width + $padding

      @include transition(background 100ms linear)
      @include screening-background

      line-height: 26px
      color: $black
      text-decoration: none

      &:hover
        @include transition(background 0ms linear)
        background: $info-bg-hover

      .number-wrapper
        position: absolute
        overflow: hidden
        top: 0
        left: 0
        width: $number-width
        height: 100%
        @include border-left-radius(5px)
        background: transparentize($black, 0.75)

        span
          position: relative
          right: 10px
          font-size: 200px
          line-height: 150px
          color: transparentize($black, 0.8)

      &#id-1 .number-wrapper span
        right: -15px

      &#id-3 .number-wrapper span
        right: 7px

      &#id-4 .number-wrapper span
        right: 8px

      &#id-5 .number-wrapper span
        right: 8px

      &#id-7 .number-wrapper span
        right: 5px

      &#id-8 .number-wrapper span
        right: 8px

      &#id-10 .number-wrapper span
        right: 20px
        letter-spacing: -15px

  .screening-detail
    display: none
    width: 80%
    max-width: 600px
    margin:
      top: 80px
      right: auto
      left: auto
    padding: $padding * 2
    @include screening-background

    &.show
      display: block

    h2
      margin:
        top: $padding * 2

      &:first-child
        margin:
          top: 0

      .header-detail
        margin:
          left: 10px
        color: $light-gray
        font-size: 25px

    p
      margin:
        top: 10px

    a
      display: inline-block
      margin:
        top: $padding * 2
      color: $gray
      text-decoration: none

      &:hover
        color: darken($teal, 10%)
